.wrapper {
    display: inline-table;
    /*min-width: 150px;*/
    width: 90%;
}

.container {
    background-color: pink;
}

.barCompleted {
    background-color: lightblue;
    width: 90%;
}

.label {
    font-size: 20px;
    color: green;
}

.pollContainer{}

.pollContainer div>svg {
    width: 10%;
}