.box {
    width: 100%;
    height: 100%;
    color: #60B5D7;
    margin-top: 25px;
    margin-bottom: 25px;
    background: linear-gradient(115deg, #234255FF, #23262CFF, #23262CFF, #23262CFF) !important;
}

.nickname {
    color: #60B5D7;
}

.playerPanel {
    margin: 0 5px;
    padding: 0 10px;
    height: 35px;
    display: flex;
    background: linear-gradient(75deg, #234255, #23262C, #23262C) !important;
}

.playerInfoPanel {
    margin: 0 5px;
    padding: 10px 10px;
    background: linear-gradient(75deg, #234255, #23262C, #23262C);
}

.playerAvatar {
    margin: 5px 15px;
}

.playerInput {
    height: 35px;
    width: 100%;
}

.addTeammateButton {
    height: 35px;
}

.gamesMainGrid {
    margin: 15px;
}