.gamePanel{
    margin: 15px;
    padding: 5px;
}

.gameInfoPanel{
    margin: 15px;
    padding: 15px;
}

.gameImage{
    width: 300px;
}

.gameName{
    width: 250px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.dontHaveLabel{
    color: #A34C25;
}

.haveLabel{
    color: #8CBB56;
}